<div class="message", style="padding: 1rem; border-radius: 0.5rem; <%= message.user_id == current_user.id ? 'background-color: #3182ce; text-align: right;' : 'background-color: #2d3748; text-align: left;' %>">
  <p><strong><%= message.user&.username %>:</strong> <%= message.body %></p>
</div>