<body>
<%= render 'partials/navbar' %>
<%= render 'partials/sidebar' %>
<h1>Welcome to the <%= chat_room.name %> </h1>
<div class = 'container'>









</div>
<%= render 'partials/footer' %>
</body>