<body style="background-color: #1a202c; color: #ffffff; min-height: 100vh; display: flex; flex-direction: column; align-items: center; padding: 16px;">
<%= render 'partials/navbar' %>
<div style="width: 100%; max-width: 800px; text-align: center; margin: 0 auto; padding: 16px; box-sizing: border-box; color: #e3e3e3;">
<h1 style="font-size: 2rem; margin-bottom: 1rem;">About us</h1>
<p style="font-size: 1.5rem; margin-bottom: 0.5rem;">We are so glad you could be here with us at Chat With Chums, a platform designed to connect individuals based on their MBTI personality types and shared interests. Our mission is to create a vibrant, inclusive community where like-minded individuals can chat, share ideas, and forge meaningful connections. Whether you're here to meet new friends, explore common interests, or simply engage in stimulating conversations, Chat with Chums is your gateway to a world of connection and discovery. Join us today and start chatting with people who truly understand you.</p>
<br>
<%= render 'partials/footer' %>
</div>
<body>

