<div >
  <% @users.each do |user| %>
    <% next if user.nil? %> 
    <p><%= user.name %></p>
    <button>
    <%= link_to 'Start DM', start_chat_with_path(user.id), method: :post %>
  </button>
<% end %>
</div>