<div class='flex flex-wrap justify-center gap-4'>
<h1 class='text-4xl mb-2'>Chat With Chums</h1>
<h3 class='text-center text-xl mb-4'>Welcome to Chat With Chums, where meaningful connections begin! Take the MBTI personality test to discover your unique personality type and interests. Then, dive into vibrant chat rooms or connect directly with like-minded individuals who share your passions. Find your community and start chatting today!</h3>
<br>
<h3 class='text-center text-xl mb-4'>Take the Test</h3>
<p class='text-center text-xl mb-4'>Discover the real you with our MBTI personality test. Uncover your strengths, preferences, and interests, and get ready to connect with others who truly understand you.</p> 
<br>
<h3 class='text-center text-xl mb-4'>Chat Feature</h3>
<p class='text-center text-xl mb-4'>Connect with kindred spirits in our vibrant chat rooms or start a private conversation with someone who shares your personality type and interests. Forge friendships and explore new ideas in a welcoming, understanding community.</p> 
<%= render "partials/footer" %>
</div>