<body>
<%= render 'partials/navbar' %>
<div>
<h3>Already know your MBTI personality?</h3>

<p><%= link_to 'Sign up', new_user_registration_path %></p>

<br>
<h3>Want to find out your personality?</h3>
<a href="https://www.16personalities.com/personality-types">Take The Test</a> 
<br>
<%= render "partials/footer" %>
</div>
<body>