<body>
<%= render 'partials/navbar' %>
<div>
<h3>Already know your MBTI personality?</h3>

<p><%= link_to 'Sign up', new_user_path %></p>

<br>
<h3>Want to find out your personality?</h3>
<button><%= link_to 'Personality test','https://www.16personalities.com/free-personality-test', target: :_blank %></button> 

<br>
<%= render "partials/footer" %>
</div>
<body>